.login {
  border: 1px solid #16878c;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  max-width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
}

.login .title {
  font-family: monospace;
  font-size: 24px;
  margin-bottom: 10px;
}

.login .error-message {
  border: 1px solid #e34850;
  color: #e34850;
  background-color: #e3485033;
  border-radius: 5px;
  max-width: 100%;
  min-width: 100%;
  padding: 10px 5px;
}

.error {
  border: 1px solid #ee0011;
  color: #ee0011;
  background-color: #ee001111;
  border-radius: 5px;
  margin: 20px 0;
  width: 100%;
  min-height: 20px; 
  box-sizing: border-box;
  padding: 5px 20px;
  font-size: 10px;
}

.input-container {
  position: relative;
}

.er {
  position: absolute;
  bottom: 4px;
  left: 6px;
  color: #ee0011;
  font-size: 8px;
}
